.img-container {
  display: flex;
  flex-direction: row;
}
.row-container {
  width: 200px;
  margin: 2vw;
}

.add-to-watchlist {
  background-color: lightgray;
  width: 80%;
  text-align: center;
  color: rgb(34, 34, 223);
}
.favorite{
    width:80%;
    background-color: rgb(82, 82, 82);
    text-align: center;
}