.nav-center{
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.topbar-link{
  margin-right: 20px;
  font-size: 24px;
}

.clean-list-btn{
  display: inline-block;
  cursor: pointer;
  font-size: 24px;
}